<!-- Version Heroku 27/03/2018 -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Celebetrip : découvrez Paris autrement</title>
      <link rel="icon" type="image/png" href="celebetrippastille.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#071e2f">
        <meta name="description" content="Celebetrip est une application mobile qui permet de découvrir Paris avec une célébrité d'hier ou d'aujourd'hui. Le Paris d'Hugo, le Paris de piaf, le paris de la Pévolution Française... Startup en développement.">
        <link rel="stylesheet" href="style.css">
<!-- Bootstrap -->    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
<!-- jquery -->
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
        </script> 
      
      <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
      
    </head>
      
     
  
  
<body id="body" class="clearfix"> 
    <div class="photo_main">
    
    <!-- menu login haut droite -->  
    <div class='box foo'>
    LOGIN
    </div>        
<!--fin-->
      


  
    
<!--
bonhomme  
<i class="fas fa-child"></i>
adresse book
<i class="far fa-address-book"></i>
<!--fin-->
      
     
      
<!-- logo celebetrip   
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="tel">
                     <img src="images/Photo main.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>-->
      
      <!-- Main telephone--> 
<div> 
    

    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
     <!--<div class="floating-box1"><h1 style=center >Découvrez le Paris de-->                        
    <!-- essai texte mouv 2  <div class="floating-box1">   --> 
            <span class="float: left; text-align: left">
                <div id=container>
                    Découvrez 
                    <h3>le Paris de </h3>
                      <div id=flip> 
                        <div><div>Victor Hugo</div></div>
                        <div><div>Edith Piaf</div></div>
                        <div><div>Emile Rodin</div></div>
                        <div><div>Gunsbourg</div></div><!-- PROBLEME n'apparait pas dans le code. A voir --> 
                        <div><div>La Révolution française</div></div><!-- PROBLEME n'apparait pas dans le code. A voir --> 
                      </div>
                    <br>
                    <h4>Vous êtes FAN d'une célébrité et connaissez tous ses secrets ? <br><br>
                    Devenez embassadeur et contribuez à la découverte de cet artiste </h4>  
                </div>
            </span>
                    
            </div>
        </div>
    </div>
</div> 

    
<!-- celebetrip ecriture verticale droite -->
    <div class="col-3 hidden-xs-down"> 
        <span class="text-vertical-span"><b>celebetrip</b></span>
    </div>
        
<!--fin-->
   
<!--------------------bande jeune------------------------
<div>
    <div>

        <span class="float: right; text-align: right ">
          <div class="band">
            <div class="content">
            <h1></h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">

                            <img src="images/paris2.png">
                            </div>
                        </div> 
                    </div>
                </div>
        </span>
    </div>
</div>
</div>-->
  
<!-- menu déroulant artistes -->
<div>
    <div>
        <span class="float: right; text-align: right ">
          <div class="band">
            <div class="content">
                <h4><center><br><strong>Choisissez votre célébrité préférée  <br>et découvrez son histoire <br> lors de vos promenades dans Paris</strong></center></h4>
                <br>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <ul id="menu-demo2">
                            <li><a href="#">Chanteurs</a>
                                <ul>
                                    <li><a href="#">Edith Piaf</a></li>
                                    <li><a href="#">Jacques Brel</a></li>
                                    <li><a href="#">Gunsbourg</a></li>
                                    <li><a href="#">Johnny Haliday</a></li>
                                    <li><a href="#">Proposer un chanteur</a></li>
                                </ul>
                            </li>
                                <li><a href="#">Ecrivains</a>
                                <ul>
                                    <li><a href="#">Victor Hugo</a></li>
                                    <li><a href="#">Pierre de Ronsar</a></li>
                                    <li><a href="#">Proposer un écrivain</a></li>
                                </ul>
                            </li> 
                            <li><a href="#">Peintres/sculpteur</a>
                                <ul>
                                    <li><a href="#">Monet</a></li>
                                    <li><a href="#">Emile Rodin</a></li>
                                    <li><a href="#">Proposer un peintres/sculpteur</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Thématique</a>
                                <ul>
                                    <li><a href="#">La Révolution française</a></li>
                                    <li><a href="#">Le Paris romantique</a></li>
                                    <li><a href="#">Street Art</a></li>
                                    <li><a href="#">Paris politique</a></li>
                                    <li><a href="#">Paris insolite</a></li>
                                    <li><a href="#">Proposer une thématique</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> 
                    <br>
                <h3><center><br>Comment tester Celebetrip ? </center></h3>
                </div>
            </div> 
        </div>
        </span>
    </div>
</div>
</div>
<!--fin-->

<!-- 

<div>
    <div>

        <span class="float: right; text-align: right ">
          <div class="band">
            <div class="content">
            <h1></h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="gar1">
                            <div  class="gar2">
                            <img src="images/paris2.png">
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
          </div>
        </span>  
    </div>
</div>
</div>   

    
<div>
    <div>
        <span class="float: right; text-align: right">
          <div class="band2">
            <div class="content">
              <h1></h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="gar1">
                             <div  class="gar2">
                                <img src="images/paris1.png">
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
          </div>
        </span>  
    </div>
</div> 
    
        
    
    
        <div class="container background image">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="gar1">
                         <div  class="gar2">
                            <img src="images/paris2.png">
                        </div>
                    </div> 
                </div>
            </div>
        </div>  
      
<!-- pastilles celebrites     
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="entete">
                        <h4>Découvrez Paris</h4>
                        <h4>avec pour compagnon de voyage </h4>
                        <h4>une célébrité d’hier ou d’aujourd’hui</h4>
                        <!--<p><center> <img src="images/photopastille.png" class="img-responsive""center"/> </center></p> 

                        
                        <div class="button">
                            <a href="file:///C:/Users/famil/Documents/CELEBETRIP/celebrités.html" type="button" class="btn btn-primary active">Et bien d'autres... <br> Découvrez-les !</a> 
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>  
      
<!-- gargouille 1    
        <div class="container background image">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="gar1">
                        <div  class="gar2">
                        <img src="images/paris1.png">
                        </div>
                        
                        <div class="gartexte">
                        <h3>Restez connecté ! </h3>
                        <h4>Avec l'appli des gens célèbres qui vous suit partout</h4>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
      
<!-- chatbot           
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <center><img src="images/operateur2.png" class="img-responsive"/></center><br/>
                    <p>Vous êtes FAN d'une célébrité et connaissez tous ses secrets ? <br> Devenez embassadeur et contribuez à la découverte de cet artiste <br> <!-- Premier assistant app/chatbot qui scénarise vos visites touristiques dans Paris </p>
                </div>
            </div>
        </div> -->
           
 <!-- gargouille 2 
        <div class="container background image">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="gar1">
                         <div  class="gar2">
                            <img src="images/paris2.png">
                        </div>
                    </div> 
                </div>
            </div>
        </div>

      

                  
<!--essai footer 3--> 

        <footer id="footer" class="clearfix">
            <div id="footer-widgets">
                <div class="container">
                  <div id="footer-wrapper">
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                              <div id="meta-3" class="widget widgetFooter widget_meta">
                                <h4  class="widgettitle">Plan du site</h4>
                                  <ul>
                                  <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                  <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Mentions légales</a></li>
                                  <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Conditions générales d'utilisation</a></li>
                                  <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contactez-nous</a></li>
                                </ul>
                              </div>      
                            </div> <!-- end widget1 -->

                            <div class="col-sm-6 col-md-2">
                                <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                                    <h4 class="widgettitle">Réseaux sociaux</h4>
                                        <ul>
                                            <li>
                                             <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
                                            </li>
                                            <li>
                                              <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
                                            </li>
                                            <li>
                                              <a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> Youtube</a>
                                            </li>
                                        </ul>
                                </div>            
                            </div> <!-- end widget1 -->
                            <div class="col-sm-6 col-md-4">
                                <div id="meta-4" class="widget widgetFooter widget_meta">
                                    <h4 class="widgettitle"></h4>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Newsletter</span>
                                                <input class="form-control" placeholder=" AliceDurand@gmail.com" type="text">
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">  Tel mobile  </span>
                                                    <input class="form-control" placeholder="06 24 39 00 00" type="text">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Valider</button>
                                                    </span>
                                                </div>
                                            </div>
                                </div>
                            </div> <!-- end widget1 -->

                            <div class="col-sm-6 col-md-4">
                                <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle"></h4>
                                    <div class="form-group">
                                        <label class="control-label">  </label>
                                            <div class="input-group">
                                                <span class="input-group-addon">Mot clé :</span>
                                                <input class="form-control" placeholder="Que recherchez-vous ?" type="text">
                                                <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button">Valider</button>
                                                </span>
                                            </div>
                                    </div>
                                </div>            
                            </div> <!-- end widget1 -->
                        </div> <!-- end .row -->
                    </div> <!-- end #footer-wrapper -->
                </div> <!-- end .container -->
            </div> <!-- end #footer-widgets -->

<!--copyright-->
               <div class="container">
                  <div class="row">
                     <div class="col-xs-5" >
                        <div class="copyright">
                        <p style="font-size: 12px"><!--© 2018, Celebetrip, All rights reserved --></p>
                        </div>
                    </div>
                   </div>
                </div>   
      </footer>
<!-- fin footer essai 2
    


      
   
      
      
       <!-- <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
              
 
logo haut page          
                        <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <h2>Bienvenue sur Celebetrip</h2>
                                    <h3>Choisissez votre compagnon <br> parmi notre selection de célébrités</h3>
                                    <p> </p>
                                    <div class="nb_com" style="display:none">9</div>
                                </div>
                         </div> 
                    </div> 
                
 HUGO                      
                    <div class="container">
                        <div class="row">    
                            <div class="col-xs-12 border"> 
                                <div class="col-xs-offset-1 col-xs-2">    
                                    <div class="artiste">  
                                        <div style="text-align:center">
                                            <img src="images/hugopastille.png"/>
                                            <p>10 circuits <br> 2 à 6 jours </p>

                                        <button name="choix" id="submit" type="submit" value="submit" class="btn btn-default"> <a href="file:///C:/Users/famil/Documents/CELEBETRIP/circuit-hugo.html" >Découvrez Paris <br> avec Hugo </a><span class="glyphicon glyphicon-chevron-right"></span>
                                        </button> 
                                    
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-xs-offset-2 col-xs-7"> 
                                    <div class="artiste"> 
                                        <div style="text-align:left">
                                            <span class="left_align">

                                            <h1>Victor Hugo</h1>
                                            <p>Ce parcours guidé vous permet de découvrir Paris avec Victor Hugo ; vous serez amusé par les nombreuses anacdotes de sa vie parisiennes tout au long de votre parcours, ses pensées, ses souvenirs, le Paris qu'il a aimé. </p>
                                            </span>
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
